/* styles.css */

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f7f7f7;
  }
  
  header {
    background-color: #333;
    padding: 10px;
    color: #fff;
  }
  
 
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
  }
  
  h1, h2 {
    margin-bottom: 10px;
  }
  
  ul {
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #333;
    padding: 10px;
    color: #fff;
    text-align: center;
  }
  